/* footer {
    background-color: #e2edff;
} */
.colours{
    color: #df1409;
}
/* body{
    color: #df1409;
} */

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-registration input {
    border-radius: 0;
    margin-bottom: -1px;
}

.nav-link{
    color: black;
    text-decoration: none;
}
.nav-link:hover{
    color: #df1409;
}

.breadcumbs{
    background: #df1409;
    columns: none;
}
.active{
    color: #df1409 !important;
}
/*  */
/* .jumbotron{
    background-color: #ffcdcdd7;
} */
.carousel-img{
    width: auto;
    height: 500px;
    object-fit: cover;
    border-radius: 1px;
}

.carousel-caption{
    
    border-top: 10px solid #ff0d01;
    background-color: #0000009e;
    height: 120px;
}

.title-container h2::after{
    content: '';
    position: absolute !important;
    display: block;
    width: 50px;
    height: 3px;
    background-color:#ff0d01;
    
    left: calc(50% - 2%);
}
.about-us-title{
    font: 1.8em sans-serif;
}
.about-us-subtitle{
    font: 1.2em sans-serif;
}
/* Footer */
/* .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  } */

.nav-link-social{
    color: rgb(187, 187, 187);
    text-decoration: none;
}
.nav-link-social:hover{
    color: #df1409;
}

  .list-link{
    color: rgb(187, 187, 187);
    text-decoration: none;
}
  .list-link:hover{
    color: #df1409;
}
  .copyright-content {
    margin-top: 50px;
    padding-top: 40px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    position: relative;
}
  .social-profile li{
    text-decoration: none;
  }